/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;  
}

/***************************************************/
/* TWEEDE PAGINA ACTIVISME CSS STYLING VAN DE MAIN */
/***************************************************/

/* algemeen voor deze pagina*/
main section ul {
  padding: 0;
}

main img {
  border-radius: 1em;
}

main article {
  padding-bottom: 3em;
}

/* eerste section */
/* div container met picture en section) */
main > div:first-of-type {
  position: relative; 
}

main > div:first-of-type picture img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0;
}

main > div:first-of-type section {
  position: static; 
  padding: 1.5em;
}


/* tweede en vierde section: */
main > section:nth-of-type(1),
main > section:nth-of-type(3) {
  background-color: var(--color-background-sections2); /* de lichtbaluwe kleur */
  padding: 1em;
}

/* derde section (alleen een knop) */
main section:nth-of-type(2) {
  padding: 2em 0;
  margin: 1.5em 0;
  text-align: center;
}

/* vijfde section met de video */
main section:nth-of-type(4) {
  padding: 1em;
}

main section:nth-of-type(4) iframe {
  width: 100%;
  aspect-ratio: 13 / 9; /*zorgt voor de verhouding */
  height: auto;
  border: 0;
  padding: 1.5em;
}

/* zesde section (laatste section) */
main section:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}



/***********************************************************/
/* styling als de browser minimaal 38em breed is (DESKTOP) */
/***********************************************************/

/********************************/
/* STYLING DIV + EERSTE SECTION */
/********************************/
@media (min-width: 38em) {
  /* dit inhoud van de section (p en de h1 hierboven) op de afbeelding */
  main > div:first-of-type section {
    position: absolute;
    top: 50%; 
    left: 5%;
    transform: translateY(-50%); /* alleen verticaal centreren */
    color: black;
    max-width: 40%;
    padding: 0;
  }
}


/**************************/
/* STYLING TWEEDE SECTION */
/**************************/
@media (min-width: 38em) {
  main section:nth-of-type(1) ul {
    display: flex;
    gap: 2em;
    justify-content: space-between;
  }

  main section:nth-of-type(1) ul li {
    flex: 1; /* li's hebben gelijke breedte */
  }
}

/********************************/
/* DERDE EN LAATSTE SECTION GROTERE BUTTONS */
/********************************/
@media (min-width: 38em) {
  main section:nth-of-type(2) button,
  main section:nth-of-type(5) button {
    font-size: 1.2rem;
    min-width: 14em;
  }
}

/**************************/
/* STYLING VIERDE SECTION */
/**************************/
@media (min-width: 38em) {
  main section:nth-of-type(3) ul {
    display: flex;
    gap: 2em;
    justify-content: space-between;
  }

  main section:nth-of-type(3) ul li {
    flex: 1; /* li's hebben gelijke breedte*/
  }
}

/************************************/
/* STYLING TWEEDE EN VIERDE SECTION */
/************************************/
@media (min-width: 38em) {
   main section:nth-of-type(1),
   main section:nth-of-type(3) {
    padding: 3em;
  }
}


/**************************/
/* STYLING VIJFDE SECTION */
/**************************/
@media (min-width: 38em) {
  main section:nth-of-type(4) iframe {
    display: block;
    margin: 0 auto;   /* horizontaal centreren */
    max-width: 50%;
    aspect-ratio: 16/9;
  }
}

/***************************/
/* STYLING LAATSTE SECTION */
/***************************/

@media (min-width: 38em) {
  main section:last-of-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    gap: 2em;
    align-items: flex-start;
  }

  main section:last-of-type > h2 {
    flex: 0 0 100%;    /* h2 volle breedte */
  }

  main section:last-of-type > article {
   flex: 1 1 0;       /* twee artikelen naast elkaar */
  }

  main section:last-of-type p {
    padding-bottom: 2em; /* meer ruimte tussen de knop en tekst */
  }
}