/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#ffffff;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
header {
	background-color: var(--color-background);
	padding: 1.5em;
}

ul img {
	height: 3.5em;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 6em;
  margin: 0;
  padding: 0;
}


