/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-text: #000000;
  --color-background: #ffffff;
  --color-footer-background: #2A5729;
  --color-footer-text: #ffffff;
}





/****************/
/* JOUW STYLING */
/****************/

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

h1 {
	margin-bottom: 0.75em;
}

header {
  background-color: var(--color-background);
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 100%;  /* nooit breder dan container */
  height: auto;     /* verhouding blijft */
  display: block;   /* voorkomt kleine witruimtes onder afbeeldingen */
}

header > button { /*de button in de header (hamburgermenu knop) */
  margin-left: auto;
  background: none;
  border: none;
}

header img {
  height: 3.5em;
}




/* main */
main button {    /*alle knoppen in de main*/
  background-color: #FFBC0F;
  color: black;
  padding: 1em 2em;
  border: none;
  border-radius: 5em;
}

main section:nth-of-type(3) {
	background-color: #201360;
	color: white;
}

/*plaatjes bij topverhalen*/
main section:nth-of-type(4) img {
	height: 10em;
	border-radius: 1em;
}



/*navigatie balk*/
nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color-background);
  translate: 100%; /* standaard buiten beeld */
  transition: translate 0.5s ease;
  padding: 2em;
}

/* hamburgermenu open */
nav.is-open {
  translate: 0; /* in beeld */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 0 2em 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

nav li a {
  color: var(--color-text);
  font-size: 1.2em;
}




/* footer styling */
footer {
  background-color: var(--color-footer-background);
  color: var(--color-footer-text);
  padding: 2em;
  text-align: center;
}




/****************************************************************/
/* styling voor de header als de browser minimaal 38em breed is */
/****************************************************************/
@media (min-width: 38em) {

  nav {
    position: static; /* menu terug in de header */
    translate: 0;     /* altijd zichtbaar */
    background: none;
    padding: 0;
  }

  nav button {
    display: none;   /* kruisje verbergen */
  }

  nav ul {
    flex-direction: row; /* horizontaal */
    gap: 2em;
    margin: 0;
  }

  nav a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1em;
  }
}